@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
    
body {
    background-image: url('images/abg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-size: 25px;
}

button {
    cursor: pointer;
}
    
    
.sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(red, #7E6CFA);
}
    
.sidebar a {
    padding: 20px 26px;
    color:white;
    text-decoration:none;
    text-align:center;
    font-size:20px;
    display:block;	
        
}
.sidebar a:hover{
    color:black;
}
    
.select {
    width: 940px;
	top: 15%;
    transform: translate(35%, 1%);
    position: absolute;
    color: #000; 
    padding: 20px;
    background-image: linear-gradient(red, #7E6CFA);
    border-radius: 30px;
    border-style: ridge;
}
	
.select h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 40px 0;
}
    
.profile {
    padding: 10px 26px;
    width:100px;
    height:100px;
    border-radius: 50%;
}
    
    
.layout {
    width: 350px;
    left: 28%;
    transform: translate(50%, 1%);
    position: absolute;
    color: #000; 
    padding: 20px;
    background-image: linear-gradient(red, #7E6CFA);
    border-radius: 30px;
    border-style: ridge;
}
    
.layout h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 40px 0;
}
    
.layout p {
    font-size: 20px;
    font-weight:bold;
    color: white;
    margin: 15px 0;
}
    
.layout input {
    font-size: 16px;
    width: 100%;
    padding: 15px 1px;
    border: 1;
    border-radius: 10px;
}
    
.layout button {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
    padding: 10px 15px;
    width: 50%;
    border-radius: 20px;
    border-style: groove;
}
    
textarea{
    font-size: 16px;
    width: 100%;
    height: 100px;
    padding: 10px 1px;
    border: 1;
    border-radius: 10px;
    resize: none;
}
    
    
 table {
    width: 90%;
    border: 1px solid;
    font-size: 25px;
	text-align: center;
    left: 10%;
    transform: translate(5%, 5%);
    position: absolute;
        
    }
    
    table th{
    padding-top: 22px;
    padding-bottom: 22px;
    background-image: linear-gradient(red, #7E6CFA);
    color: white;
        
    }
    
    table td {
    padding-top: 10px;
    padding-bottom: 10px;
        
    }
    
    table, th, td {
    border-style: groove;
    }   
/* all red buttons */
.delete {
    font-size:27px;
    color: white;
    background-image: linear-gradient(red, #A3132D);
    margin: 2px 0px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
    
a:link {
    color: white;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}
	
.column {
	  width: 50%;
  	padding: 5px;

}
	
.row {
	  display: flex;
}
	
	
.dashboard {
    width: 940px;
	  height: 550px;
	  top: 10%;
    transform: translate(29%, 1%);
    position: absolute;
    color: #000; 
    padding: 20px;
    background-image: linear-gradient(red, #7E6CFA);
    border-radius: 30px;
    border-style: ridge;
}
	
.dashboard h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 40px 0;
}
	
.logout {
	  left: 32%;
	  position: absolute;
	  top: 79%;
    transform: translate(38%, 1%);
    position: absolute	
		
}
	
.checkbox-grp {
    display: flex;
    align-items: center;
}

.checkbox-grp label {
    margin-left: 3px;
    margin-right: 15px;
    white-space: nowrap; /*forcing the text to remain in the same line*/
}

.checkbox-grp-feature {
    display: flex;
    align-items: center;
}

.checkbox-grp-feature input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
}

.checkbox-grp-feature label {
    margin-left: 5px;
    margin-right: 10px;
    white-space: nowrap; /*forcing the text to remain in the same line*/
    font-size: 2rem;
}





/* aviewproducts.php */
.search-container {
    position: sticky;
    width: 100%;
}

.content-area {
    margin-left: 160px;
    margin-top: 80px;
    text-align: center;
}

.search {
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px; /* trying out */
}

.search form {
    display: flex;
    /* position: absolute;
    top: 0;
    right: 0; */
    /* margin: 40px; */
}

.search input[type=text] {
    padding: 7px;
    width: 250px;
    border: 2px solid rgb(86, 86, 86);
}

.search input[type=submit] {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 7px;
    padding: 10px 15px;
    width: 50%;
    border-radius: 20px;
    border-style: groove;
}

.dimmed-overlay {
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.594);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.confirm-del {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem 5rem;
    color: white;
    text-align: center;
    background-image: linear-gradient(red, #7E6CFA);
    border-radius: 30px;
    border-style: ridge;
}

.confirm-del-btn {
    display: flex;
    justify-content: center;
}

.confirm-del button {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 7px;
    padding: 10px 15px;
    width: 150px;
    border-radius: 20px;
    border-style: groove;
}

.fresh-promo-upload-btn {
    font-size:20px;
    color: white;
    background-image: linear-gradient(red, #A3132D);
    margin: 7px 0px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
}

.upload-pop-up {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 25rem;
    color: white;
    text-align: center;
    background-image: linear-gradient(red, #7E6CFA);
    border-radius: 30px;
    border-style: ridge;
}

.upload-pop-up p {
    position: relative;
    top: 90px;
}

.upload-pop-up input[type=file] {
    position: relative;
    top: 115px;
}

.upload-pop-up input[type=text] {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: -140px;
    width: 70%;
    padding: 15px 1px;
    border: 1;
    border-radius: 10px;
}

.upload-pop-up button {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
    padding: 10px 15px;
    width: 50%;
    border-radius: 20px;
    border-style: groove;
    position: relative;
    bottom: -160px;
}

.upload-pop-up-dismiss {
    z-index: 3;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 20px; 
    right: 30px;
    cursor: pointer;
}